---
import Container from "@components/Container.astro";

const date = new Date().getFullYear();
---

<footer class="p-10">
  <Container>
    <div class="w-full h-px bg-blue-light mb-7"></div>
    <p>
      Hecho con 💜 por: <span class="font-semibold">Angel Baez.</span>
      <span>{date}</span>
    </p>
    <p>
      Hecho con 💜 por: <span class="font-semibold">Angel Baez.</span>
      <span>{date}</span>
    </p>
    <p>
      Hecho con 💜 por: <span class="font-semibold">Angel Baez.</span>
      <span>{date}</span>
    </p>
  </Container>
</footer>
