---
import Container from "@components/Container.astro";
import Planets from "@components/Planets.astro";
---

<main class="bg-[url(./images/bg-space.png)] bg-contain bg-center">
  <Container>
    <div class="flex items-center h-screen z-50">
      <h1
        class="mx-auto font-bold text-center text-8xl bg-gradient-to-r from-[rgba(136,115,239,1)] via-[rgba(197,186,247,1)] to-[rgba(255,255,255,1)] bg-clip-text text-transparent"
      >
        Angel Baez <br />
        <span class="text-white">Desarrollador Web</span>
        <br /> FrontEnd
      </h1>
    </div>
  </Container>
  <Planets />
</main>
